$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$section-background: #a7a7aa60;
$edit-background: #ee7d8320;
$input-border: #b11501;
$edit-button-background: #bbbbbbc0;

$quick-action-header: #69122c;
$quick-action-primary: #ecdbdb;
$quick-action-secondary: #f4eaea;
$quick-action-tertiary: #e4cdce;
$quick-action-footer: #cca5a9;

$slow-action-header: #2e4582;
$slow-action-primary: #dddeeb;
$slow-action-secondary: #ebebf3;
$slow-action-tertiary: #cfd1e4;
$slow-action-footer: #acb0cf;

$free-action-header: #4c7e36;
$free-action-primary: #d0d9c6;
$free-action-secondary: #e4e9de;
$free-action-tertiary: #dae0d2;
$free-action-footer: #bdcbb0;

$ritual-header: #b6642a;
$ritual-primary: #f2decf;
$ritual-secondary: #f9f1ea;
$ritual-tertiary: #f2decf;
$ritual-footer: #e8c5ac;
