<div class="ability-list collapsible-parent">
  <div class="ability-list-title ability-list-row collapsible-title">
    <i class="fas fa-angle-right expand-arrow expanded"></i>
    <div class="ability-line-primary">{{title}}</div>
  </div>
  <div class="ability-collapsible">
    <div class="ability-collapsible-wrapper expanded" data-id="{{id}}">
      {{#each abilities as |ability|}}
{{> "systems/wyrdwood-wand/templates/item/parts/ability-card.hbs" ability inSheet=true}}
      {{/each}}
    </div>
  </div>
</div>