<div class="item" data-item-id="{{_id}}">
  <label class="input-sizer" data-default-value="Feature Name">
    <input class="edit-mode-input input-sizer-input item-inline-edit" data-field="name" type="text" value="{{name}}" placeholder="Feature Name" size="2" onInput="this.parentNode.dataset.value = this.value" />
  </label>
  <a class="delete-item edit-mode-only">
    <i class="fas fa-trash"></i>
  </a>
</div>