<div class="item" data-item-id="{{_id}}">
  <input class="edit-mode-input item-inline-edit" data-field="name" type="text" value="{{name}}" placeholder="Feature Name" />
  <a class="delete-item edit-mode-only">
    <i class="fas fa-trash"></i>
  </a>
</div>